/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.container {
    -webkit-transform: translateZ(0);
}

 
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.bgimg {
    background-image: url('../img/covers/cover_4.gif');
    background-size: cover;
    background-position: center;
}

 .nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 0px;
    z-index: 997;
  }

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
  }
  
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


/* ==========================================================================
Card
========================================================================== */




/* ==========================================================================
Showcase
========================================================================== */

.texture-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../img/grid.png);
}

.showcase {
    background: url('../img/showcase-bg-fixed-01.jpg') no-repeat center center fixed;
    background-size: cover;
}

.device {
    position: absolute;

    height: 676px;
    width: 359px;
	
	 margin: 0 0 0 -178px;
     
     left: 50%;
	
    background: url('../img/iphone-skeleton.png') no-repeat center center;
}
.device-content {
    position: absolute;
    top: 115px;
    left: 56px;
    width: 247px;
    height: 445px;
    background: rgba(0, 0, 0, 0.3);
}
.device-content img {
    width: 247px;
    height: 445px;
}
.showcase-wrap {
    position: relative;
    min-height: 700px;
}
.showcase-slider  {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*
==============================================
slideLeft
==============================================
*/


.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: .7s;	
	-webkit-animation-duration: .7s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;		

	visibility: visible !important;	
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
			
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	
	100% {
		-webkit-transform: translateX(0%);
	}
}

/*
==============================================
slideUp
==============================================
*/


.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: .5s;	
	-webkit-animation-duration: .5s;

	animation-timing-function:  ease-out;	
	-webkit-animation-timing-function:  ease-out;
	
	visibility: visible !important;				
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

.carousel-slider {
    height: 445px !important;
}

.project_1_bg {height:250px !important;
               object-fit: cover ;  
               background-color: #565659;}
					
.project_1_header { 
		width :100% ;
	    background: linear-gradient(to bottom,  rgba(0, 0, 0, 0),#565659);
	  }
	  
.project_2_bg {height:250px !important;
               object-fit: cover ;  
             background-color :#BA3626}
					
.project_2_header { 
		width :100% ;
		background: linear-gradient(to bottom,  rgba(0, 0, 0, 0),#BA3626)
	  }
.project_3_bg {height:250px !important;
               object-fit: cover ;  
             background-color :#2E94A4}
					
.project_3_header { 
		width :100% ;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0),#2E94A4)
	  }
	  
.project_4_bg {height:250px !important;
               object-fit: cover ;  
             background-color :#0C2D83}
					
.project_4_header { 
		width :100% ;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0),#0C2D83)
	  }
	  
.project_5_bg {height:250px !important;
               object-fit: cover ;  
             background-color :#834B1C}
					
.project_5_header { 
		width :100% ;
		background: linear-gradient(to bottom,  rgba(0, 0, 0, 0),#834B1C)
	  }
	  
.project_6_bg {height:250px !important;
               object-fit: cover ;  
             background-color :#5C94C1}
					
.project_6_header { 
		width :100% ;
		background: linear-gradient(to bottom,  rgba(0, 0, 0, 0),#5C94C1)
	  }
	  
.project_7_bg {height:250px !important;
               object-fit: cover ;  
             background-color :#408C54}
					
.project_7_header { 
		width :100% ;
		background: linear-gradient(to bottom,  rgba(0, 0, 0, 0),#408C54)
	  }
	  
	






